<h1>
  Add a new post
</h1>


<hr>

<form action="/create_post" method="post">

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <textarea id="body" name="body" class="form-control" rows="3"></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create post
  </button>
</form>

<hr>

<a href="/posts">
  Go back
</a>
