<h1>
  Add a new post
</h1>


<hr>

<!-- Form post start -->
<form action="/create_post" method="post">
<!-- Form post end -->

  <!-- Label and input for body start -->
  <div class="form-group">
    <label for="body">
      Body
    </label>

    <!-- Input for body start -->
    <textarea id="body" name="body" class="form-control" rows="3"></textarea>
    <!-- Input for body end -->
  </div>
  <!-- Label and input for body end -->

  <button class="btn btn-block btn-outline-secondary">
    Create post
  </button>
</form>

<hr>

<a href="/posts">
  Go back
</a>
